.page {
    display: none;
}

.page.active {
    display: block;
}

.pop_up {
    display: none;
}

.temp-feedback {
    display: none;
}


#slot1, #slot2, #slot3, #slot4, #slot5, #slot6, #slot7, #slot8, #slot9 {
    border: 2px solid black;
    display: inline-block;
    padding: 5px;
}

#slot1 {
    background-color: rgb(25, 129, 25);
}

#slot5 {
    background-color: rgb(255, 255, 0);
}

#slot9 {
    background-color: antiquewhite;
}

.cell {
    border: 2px solid black;
    display: inline-block;
    padding: 30px;
}
