body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("Fruidle_Images/homepage_background2.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    font-size:1.3rem;
}

#container {
  max-width: 900px;
  margin: 0px auto;
  text-align: center;
}

div#How_to_play {
    background-color: rgba(17, 16, 16, 0.7); 
    border: 2px solid #000;     
    border-radius: 10px;   
    padding: 30px;             
    width:80%;                
    height: auto;              
    margin: 10px auto;           
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    color:white;
}
 
#pear, #kiwi, #melon {
    width: 30px;
}


.page {
    display: none;
}

.page.active {
    display: block;
}

.pop_up {
    display: none;
}

.temp-feedback {
    display: none;
}

#title {
    width: 350px;
}

#slot1, #slot2, #slot3, #slot4, #slot5, #slot6, #slot7, #slot8, #slot9 {
    border: 2px solid black;
    display: inline-block;
    padding: 5px;
    width: 80px;
}

#slot1 {
    background-color: rgb(25, 129, 25,0.5);
}

#slot5 {
    background-color: rgb(255, 255, 0,0.5); 
}

#slot9 {
    background-color: rgb(111, 128, 144,0.5);
}

.cell {
    border: 2px solid black;
    display: inline-block;
    padding: 30px;
}

#Level_Select {
    display: flex;
    flex-direction:column;
    align-items:center;
    gap: 15px;
}

#Level_Select button{
    width: 200px;
    padding: 15px 40px;
    font-size: 1.2rem;
    background-color: blue;
    color:beige;
    cursor: pointer;
    border:none;
    border-radius: 10px;
}

#Level_Select button:active {
    background-color: rgb(102, 194, 194);
}

h3 {
    font-size: 1.5rem;
}

p#how {
    margin-top:5px;
}
h2#image {
    margin:0;
    padding:0;
    text-align:center;              
}

h2#image img{
    display:block;
    margin: 0 auto;
}

.fruit {
    width:50px;
    height:50px;
    padding:30px;
    margin-top:20px;
    background-color: rgb(46, 44, 44);
    border:none;
    border-radius: 5px;
}

.back {
    height:100px;
    width:100px;
    background-color: rgb(223, 25, 25);
}

.enter {
    height:200px;
    width:100px;
}

.Top_Bar {
    display:flex;
    justify-content: flex-end;
    gap:10px;
}
.help {
    width:75px;
    height:100px;
}

.home {
    width:100px;
    height:100px;
}
#Level_Select h3{
    color:white;
}